body{
    background-color: #23272b;
    margin: 0;
}

header{
    background-color: #23272b;
    color: white;
}

.navbar {
    max-width: 1200px;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #1b4b72;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    width: 15%;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 5px 10px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #1b4b72;
}

.subnav-content {
    display: none;
    position: fixed;
    background-color: #1b4b72;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.subnav-content a {
    float: none;
    color: #eeeeee;
    padding: 14px 30px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.subnav-content a:hover {
    background-color: #1b4b72;
    color: #eeeeee;
}

.subnav:hover .subnav-content {
    display: block;
}


@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), .subnav .subnavbtn {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .topnav.responsive .subnav {float: none;}
    .topnav.responsive .subnav-content {position: relative;}
    .topnav.responsive .subnav .subnavbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

#slideshow {
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 370px;
    max-width: 1200px;
    transition-property: opacity;
    transition-duration: 3s;

}

section{
    margin: 0 auto;
    max-width: 1200px;
}


article {
    margin: 30px 0;
    padding: 15px;
    background-color: #1b4b72;
    color: white;
    width: 100%;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

footer{
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100px;
    max-width: 1200px;
}

footer table{
    background-color: #23272b;
    width: 100%;
}

footer td{
    background-color: #1b4b72;
    color: white;
    margin: 0 auto;
    position: relative;
    max-width: 1200px;
}
footer table td div{
    padding: 15px;
}

.info {
    margin: 20px 0;
    padding: 15px;
    background-color: #333;
    color: white;
    width: 100%;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

#myCarousel .carousel-inner .item{
    margin-top: 10px;
    max-height: 300px;
    overflow: hidden;
}
