body {
    background-color: #fcffe0;
}

#pager_add_news {
    margin: 0 auto;
    position: relative;
    height: 110px;
    width: 100%;
    color: mediumblue;
}

#news_box {
    margin: 0 auto;
    position: relative;
    height: 110px;
    width: 100%;
    text-align: center;
    /*color: #eeeeee;*/
    border-color: #eeeeee;
}

.fa-trash {
    color: mediumblue;
}

.fa-pencil {
    color: mediumblue;
}

.fa-arrow-right {
    color: mediumblue;
}

form {
    position: relative;
    color: #636363;
}

.subnav .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.subnav-content {
    display: none;
    position: fixed;
    background-color: midnightblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.subnav-content a {
    float: none;
    color: #eeeeee;
    padding: 14px 30px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.subnav-content a:hover {
    background-color: midnightblue;
    color: #eeeeee;
}

.subnav:hover .subnav-content {
    display: block;
}

.new-button {
    padding: 3px 9px;
}

.active-pager{
    border-color: chocolate;
}

